* {
    box-sizing: border-box;
}

p {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: SourceSansPro, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, .95);
}